<!DOCTYPE html>
<html>
<title>Nathan Smith</title>
<link rel="stylesheet" href="{{static}}/css/style.css">
<head>
</head>
<body>
  <h1 id="title">Nathan Smith</h1>

  <div class="PS1">[~/dev/nathanrandal.com]</div>
  <div class="prompt">ls -1 links/</div>

  <div class="output">
    <div class="output-line"><a href="http://www.linkedin.com/pub/nathan-smith/49/a3a/426/">LinkedIn</a></div>
    <div class="output-line"><a href="https://github.com/NathanRSmith">Github</a></div>
    <div class="output-line"><a href="https://www.facebook.com/nathanrandal">Facebook</a></div>
    <div class="output-line"><a href="https://twitter.com/Nathan_R_Smith">Twitter</a></div>
  </div>

  <div class="PS1">[~/dev/nathanrandal.com]</div>
  <div class="prompt">&#9612;</div>

  <script src="{{static}}/js/home.js"></script>
</body>
</html>
